$icon-font-path: "../styles/fonts/"; // Change the path to the fonts
$banner-font: 'Dancing Script', cursive;
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap";

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin box-shadow($shadow) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
}

/* Put your CSS here */
html, body {
    margin: 30px 0;
    background: url("../images/GARedClay.png")no-repeat center center fixed;
    background-size: cover;
    background-height: 100%;
    background-width: auto;
}

h1 {
  margin-top: -60px;
  padding-bottom: 60px;
  background: url("../images/barnwood.jpg")no-repeat center;
  background-size: cover;
  background-height: 500px;
  background-width: auto;
  font-family: $banner-font;
  font-size: 10em;
  color: #D1EDFF;
  text-align: center;
  text-shadow: 1px 1px 1px #000;
}

h2 {
  margin-top: -55px;
  font-family: Candara, Optima;
  font-size: 2.5em;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
}

.Nav {
  width: 100%;
  float: left;
  margin: -3px 0 0 0;
  padding: 0;
  list-style: none;
  background-color: #000;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}

li {
  display: inline-block;
  margin-left: 40px;
  margin-right: 35px;
  list-style: none;
  font-family: Candara, Optima;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  color: #fff;
}

li a {
  display: block;
  padding: 8px 15px;
  text-decoration: none;
  font-weight: bold;
  color: #069;
  border-right: 1px solid #ccc;
}

li a:hover {
  color: #c00;
  background-color: #fff;
}
