$icon-font-path: "../styles/fonts/"; // Change the path to the fonts
$banner-font:'Dancing Script', script;
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap";

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin box-shadow($shadow) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
}

/* Put your CSS here */
html, body {
    margin: 30px 0;
    background: url("../images/GARedClay.png")no-repeat center center fixed;
    background-size: cover;
    background-height: 100%;
    background-width: auto;
}

#banner {
  margin-top: -60px;
  padding-bottom: 60px;
  background: url("../images/barnwood.jpg")no-repeat center;
  background-size: cover;
  background-height: 500px;
  background-width: auto;
  font-family: $banner-font;
  font-size: 10em;
  color: #D1EDFF;
  text-align: center;
  text-shadow: 1px 1px 1px #000;
}

h2 {
  margin-top: -55px;
  font-family: Candara, Optima;
  font-size: 2.5em;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
}

h3 {
  margin-left: 50px;
  font-size: 1.25em;
  margin: 20px auto 0 auto;
  width: 60%;
  border-radius: 6px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.60);
}

p {
  font-size: 2em;
  text-align: center;
  margin: 60px auto 0 auto;
  width: 60%;
  border-radius: 6px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.60);
}

article {
  margin: 20px auto 0 auto;
  width: 60%;
  border-radius: 6px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.75);
}

.entry-title {
  font-size: 2em;
  color: #10206F;
  text-align: center;
  text-shadow: none;
  margin: 60px auto 0 auto;
  width: 50%;
  border-radius: 6px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.60);
}

.form-title {
  font-family: Candara, Optima;
  font-size: 2em;
  color: #000;
  text-shadow: none;
}

.form-group {
  margin-left: 70px;
  margin-top: 30px;
  width: 80%;
}

.commentsCount {
  font-family: Candara, Optima;
  font-size: 1.5em;
  color: #000;
  text-shadow: none;
  text-align: center;
}

#loginbtn {
margin-left: 0;
margin-top: -5px;
background-color: #10206F;
border: #10206F;
color: #fff;
font-size: 1em;
}

.login-form {
  margin-left: 30px;
  width: 300px;
}

.btn-primary {
  margin-top: -5px;
  background-color: #10206F;
  border: #10206F;
  color: #fff;
  font-size: 1em;
}

.btn-primary:hover {
  margin-top: -5px;
  background-color: #2845D2;
  border: #2845D2;
  color: #fff;
  font-size: 1em;
}

.btn-danger {
  background-color: #930C0A;
  border: #930C0A;
  font-size: 1.25em;
}

.btn-danger:hover {
  background-color: #6E0012;
  border: #930C0A;
  font-size: 1.25em;
}

.nav-bkgd {
  width: 100%;
  height: 35px;
  float: left;
  margin: -3px 0 0 0;
  padding: 0;
  list-style: none;
  background-color: #000;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}

.navbar {
  display: inline-block;
  margin: 0 20px 0 20px;
  list-style: none;
  font-family: Candara, Optima;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  color: #EDE5F0;
}

.navbar a {
  display: inline-block;
  margin: 0 20px 0 20px;
  list-style: none;
  font-family: Candara, Optima;
  font-size: 1.0em;
  font-weight: bold;
  text-align: center;
  color: #EDE5F0;
  text-decoration: none;
}

.navbar a:hover {
  display: inline-block;
  margin: 0 20px 0 20px;
  list-style: none;
  font-family: Candara, Optima;
  font-size: 1.0em;
  font-weight: bold;
  text-align: center;
  color: #F2D3BA;
  text-decoration: none;
}
