$icon-font-path: "../styles/fonts/"; // Change the path to the fonts
$banner-font:'Dancing Script', script;
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap";

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin box-shadow($shadow) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
}

/* Put your CSS here */
html, body {
    margin: 30px 0;
    background: url("../images/GARedClay.png")no-repeat center fixed;
    background-size: cover;
    background-height: 100%;
    background-width: auto;
}

#banner {
  margin-top: -60px;
  padding-bottom: 60px;
  background: url("../images/barnwood.jpg")no-repeat center;
  background-size: cover;
  background-height: 500px;
  background-width: auto;
  font-family: $banner-font;
  font-size: 10em;
  color: #D1EDFF;
  text-align: center;
  text-shadow: 1px 1px 1px #000;
}

h2 {
  margin-top: -55px;
  font-family: Candara, Optima;
  font-size: 2.5em;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
}

h3 {
  margin-left: 20px;
  font-size: 1.25em;
}

h4 {
  margin: 10px 30px 10px 100px;
  font-weight: normal;
}

p {
  font-size: 2em;
  text-align: center;
  margin: 60px auto 0 auto;
  width: 60%;
  border-radius: 6px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.60);
}

.wrapper {
  margin: 20px auto 0 auto;
  width: 80%;
  border-radius: 6px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.60);
}

article {
  margin: 20px auto 20px auto;
  width: 60%;
  border-radius: 6px;
  padding: 20px;
  padding-bottom: 40px;
  background-color: rgba(255, 255, 255, 0.75);
}

.welcome {
  margin-top: 70px;
}

.entry-title {
  font-family: Palatino, Candara, Optima;
  font-size: 2em;
  font-weight: bold;
  color: #10206F;
  text-align: center;
  text-shadow: none;
  margin: 0 auto 0 auto;
  width: 70%;
}

.section-title {
  font-family: Candara, Optima;
  font-size: 2.25em;
  text-transform: uppercase;
  font-weight: bold;
  color: #857F83;
  margin: 20px auto 0 auto;
  text-shadow: none;
}

.contributor {
  font-family: Palatino, Candara, Optima;
  font-size: 1.5em;
  font-weight: bold;
  color: #720024;
  text-align: center;
  text-shadow: none;
  margin: 0 auto 0 auto;
  width: 70%;
}

.text-output {
  font-size: 1.75em;
  margin: 0 auto 0 auto;
  width: 80%;
}

.date-text {
  float: right;
  margin-top: -20px;
  font-size: 1em;
  font-weight: normal;
}

.add-form {
  margin-left: -5px;
  margin-top: 20px;
  font-weight: bold;
}

.form-group {
  margin-left: 10px;
  margin-top: 30px;
  width: 90%;
}

.form-group-1 {
  margin-left: 45px;
  margin-top: 30px;
  width: 90%;
}

.form-group-2 {
  margin-left: 45px;
  margin-top: 30px;
  width: 90%;
}

.form-group-3 {
  margin-left: 100px;
  margin-top: 30px;
  width: 90%;
}

.form-group-4 {
  margin-left: 50px;
  margin-top: 30px;
  width: 90%;
}

.form-group-5 {
  margin-left: 5px;
  margin-top: 30px;
  width: 90%;
}

.form-group-6 {
  margin-left: 20px;
  margin-top: 30px;
  width: 90%;
}

.form-group-7 {
  margin-left: 20px;
  margin-top: 30px;
  width: 90%;
}

.form-group-8 {
  margin-left: 20px;
  margin-top: 30px;
  width: 90%;
}

.form-group-9 {
  margin-left: 20px;
  margin-top: 30px;
  padding-bottom: 10px;
  width: 90%;
}

.contact-info {
  margin-left: 0;
  margin-top: 5px;
  text-align: center;
}

.fullname {
  display: inline-block;
  width: 250px;
}

.mailingaddress {
  width: 700px;
}

.contact-methods {
  display: inline-block;
  width: 250px;
}

.weblinks {
  display: inline-block;
  width: 250px;
}

.statuses {
  display: inline-block;
  width: 80px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  height: auto;
  padding: 10px;
}

.login-form {
  margin-left: 30px;
  width: 300px;
}

.btn-primary {
  margin-top: 5px;
  background-color: #10206F;
  border: #10206F;
  color: #fff;
  font-size: 1em;
}

.btn-primary:hover {
  margin-top: 5px;
  background-color: #2845D2;
  border: #2845D2;
  color: #fff;
  font-size: 1em;
}

.header-btn {
  margin-top: -3px;
  font-size: .75em;
}

.header-btn:hover {
  margin-top: -3px;
  font-size: .75em;
}

.btn-danger {
  margin-top: 5px;
  background-color: #930C0A;
  border: #930C0A;
  font-size: 1em;
}

.btn-danger:hover {
  margin-top: 5px;
  background-color: #6E0012;
  border: #930C0A;
  font-size: 1em;
}

.nav-bkgd {
  width: 100%;
  height: 35px;
  float: left;
  margin: -3px 0 0 0;
  padding: 0;
  list-style: none;
  background-color: #000;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}

.navbar {
  display: inline-block;
  margin: 0 27px 0 27px;
  list-style: none;
  font-family: Candara, Optima;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  color: #EDE5F0;
}

.navbar a {
  display: inline-block;
  margin: 0 20px 0 20px;
  list-style: none;
  font-family: Candara, Optima;
  font-size: 1.0em;
  font-weight: bold;
  text-align: center;
  color: #EDE5F0;
  text-decoration: none;
}

.navbar a:hover {
  display: inline-block;
  margin: 0 20px 0 20px;
  list-style: none;
  font-family: Candara, Optima;
  font-size: 1.0em;
  font-weight: bold;
  text-align: center;
  color: #F2D3BA;
  text-decoration: none;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #720024;
}

a:hover {
  text-decoration: none;
  color: #545351;
}

footer {
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0;
  position: relative;
  width: 100%;
  height: 30px;
  padding: 5px;
}

/* Media Queries */
/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {

  body {
    font-size: .75em;
  }

  #banner {
    width: 100%;
    font-size: 3em;
  }

  h2 {
    font-size: 1em;
  }

  p {
    font-size: .75em;
  }

  .navbar {
    width: 100%;
    display: inline-block;
    float: left;
    margin: 0 0 0 0;
    list-style: none;
    font-family: Candara, Optima;
    font-size: .5em;
    font-weight: bold;
    text-align: center;
    color: #EDE5F0;
  }


}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {

  #banner {
    width: 100%;
    font-size: 5em;
  }

  h2 {
    font-size: 1.5em;
  }

  p {
    font-size: 1em;
  }

  .navbar {
    width: 100;
    display: inline-block;
    float: left;
    margin: 5px 5px 0 5px;
    list-style: none;
    font-family: Candara, Optima;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    color: #EDE5F0;
  }


}
