<h1>Relatively Speaking</h1>
<h2>The Wynn Family Newsletter</h2>
<div>
  <ul class="Nav">
    <li class="navbar" id="home">{{#link-to 'index'}}Home{{/link-to}}</li>
    <li class="navbar" id="news">News/Announcements</li>
    <li class="navbar" id="events">Events</li>
    <li class="navbar" id="b-a">Birthdays/Anniversaries</li>
    <li class="navbar" id="contacts">Contacts</li>
    <li class="navbar" id="recipes">Recipes</li>
    <li class="navbar" id="feedback">Feedback</li>
  </ul>

</div>

<footer></footer>
