<header>
  <h1 id="banner">Relatively Speaking</h1>
  <h2>The Wynn Family Network</h2>
  <nav>
    <ul class="nav-bkgd">
      <li class="navbar" id="home">{{#link-to 'index'}}Home{{/link-to}}</li>
      <li class="navbar" id="news">{{#link-to 'news'}}News/Announcements{{/link-to}}</li>
      <li class="navbar" id="events">{{#link-to 'events'}}Events{{/link-to}}</li>
      <li class="navbar" id="b-a">{{#link-to 'bdayanniv'}}Birthdays/Anniversaries{{/link-to}}</li>
      <li class="navbar" id="contacts">{{#link-to 'contacts'}}Contacts{{/link-to}}</li>
      <li class="navbar" id="recipes">{{#link-to 'recipes'}}Recipes{{/link-to}}</li>
      <li class="navbar" id="feedback">{{#link-to 'feedback'}}Feedback{{/link-to}}</li>
    </ul>
  </nav>
</header>

{{outlet}}

<footer></footer>
