<!-- Move to application.hbs -->
<h1>Relatively Speaking</h1>
<h2>The Wynn Family Newsletter</h2>
<div>
  <ul class="Nav">
    <li id="home">Home</li>
    <li id="news">News/Announcements</li>
    <li id="events">Events</li>
    <li id="birthdays">Birthdays</li>
    <li id="anniversaries">Anniversaries</li>
    <li id="contacts">Contacts</li>
    <li id="recipes">Recipes</li>
    <li id="feedback">Feedback</li>
  </ul>
</div>

<footer></footer>
<!-- Move to application.hbs -->
