<p>Make changes to comments below.</p>

<div>
  <article>
    <form>
      <div class='form-group'>
        <label for='text'>Feedback:</label>
        {{textarea value=text id='text' class='form-control' rows='5'}}
      </div>
      <div class='form-group'>
        <label for='name'>Name (Optional):</label>
        {{input type='text' value=name id='name' class='form-control'}}
      </div>
      <button {{action 'update'}} class='btn btn-primary'>Update Comment</button>
      <button {{action 'destroy'}} class='btn btn-danger'>Delete Comment</button>
    </form>
  </article>
</div>
