<p>Feedback is welcome, feel free to create a {{link-to "New Comment" "new_feedback" class='btn btn-primary'}}
.</p>

<div>
  <article>
    {{#each}}
    <div class='wrapper'>
      <h3>{{text}}</h3>
      <h3>{{name}}</h3>
      <h4 class="date-text">{{date}}</h4>
    {{/each}}
    </div>
  </article>
</div>
