<p>Feedback is welcome, feel free to create a {{link-to "New Comment" "new_feedback" class='btn btn-primary'}}
.</p>

<div>
  <article>
  {{#each}}
    <h3>{{text}}<br>{{name}}</h3>
    <h4 class="date-text">{{date}}</h4>
  {{/each}}
  </article>
</div>
