<div class="welcome">
  <article>
    <h2 class="section-title">Welcome!</h2>
    <div class='wrapper'>
      <h3 class='news-output'>If you are related to the Wynn family of Moultrie, Georgia, descendents of
        Cyrus Wynn and Allie Belle Wynn, you are in the right place. Feel free to
        browse through each section. This is your place to connect or reconnect with
        family. As Ma would say, "Come on in and sit a spell."
      </h3>
         <img src="http://ashburnhillplantation.com/wp-content/uploads/2014/01/downtownmoultrie.png" alt="moultrie courthouse"/>
    </div>
  </article>
</div>
