<p>Go here to {{link-to "Add News" "new_news" class='btn btn-primary'}}. Sharing is caring.
</p>

<div>
  <article>
    {{#each}}
        <h2 class='entry-title'>{{newsTitle}}</h2>
        <h3 class='text-output'>{{newsPost}}</h3>
    {{/each}}
  </article>
</div>
