<p>This is a place to share family news. Sharing is caring.</p>

<div>
  <article>
  <h2>{{newsTitle}}</h2>
    <p class='text-output'>{{newsPost}}</p>
    <p><img {{bind-attr src=imageUrl}} /></p>
  {{link-to "Add News" "new_news" class='btn btn-primary'}}
  </article>
</div>
